.group60
{
width:1294px;
height:848px;
position:absolute;
}
.rectangle24
{
border-radius:15px;
width:1294px;
height:848px;
background-color:#ffffff;
}
.settings
{
width:17px;
height:17px;
padding:0px;
background-color:#ffffff;
left:1243px;
top:37px;
position:absolute;
}
.rectanglecopy
{
border-radius:0px 0px 1.6190476417541504px 1.6190476417541504px;
width:1.4166667461395264px;
height:4.958333492279053px;
background-color:#999898;
border:0px solid #969696;
top:11.33px;
left:2.12px;
position:absolute;
}
.rectanglecopy8
{
border-radius:0px 0px 1.6190476417541504px 1.6190476417541504px;
width:1.4166667461395264px;
height:7.083333492279053px;
background-color:#999898;
border:0px solid #969696;
top:9.2px;
left:7.79px;
position:absolute;
}
.rectanglecopy7
{
border-radius:1.6190476417541504px 1.6190476417541504px 0px 0px;
width:1.4166667461395264px;
height:7.083333492279053px;
background-color:#999898;
border:0px solid #969696;
top:0.7px;
left:2.12px;
position:absolute;
}
.rectanglecopy2
{
border-radius:0px 0px 1.6190476417541504px 1.6190476417541504px;
width:1.4166667461395264px;
height:4.958333492279053px;
background-color:#999898;
border:0px solid #969696;
top:11.33px;
left:13.45px;
position:absolute;
}
.rectanglecopy10
{
border-radius:1.6190476417541504px 1.6190476417541504px 0px 0px;
width:1.4166667461395264px;
height:7.083333492279053px;
background-color:#999898;
border:0px solid #969696;
top:0.7px;
left:13.45px;
position:absolute;
}
.rectanglecopy9
{
border-radius:1.6190476417541504px 1.6190476417541504px 0px 0px;
width:1.4166667461395264px;
height:4.958333492279053px;
background-color:#999898;
border:0px solid #969696;
top:0.7px;
left:7.79px;
position:absolute;
}
.rectanglecopy6
{
border-radius:1.6190476417541504px;
width:5.6666669845581055px;
height:3.5416667461395264px;
background-color:#999898;
border:0px solid #969696;
top:9.2px;
left:11.33px;
position:absolute;
box-shadow:0px -1.6190476417541504px 0px rgba(191, 255, 102, 1);
}
.rectanglecopy5
{
border-radius:1.6190476417541504px;
width:5.6666669845581055px;
height:3.5416667461395264px;
background-color:#999898;
border:0px solid #969696;
top:4.25px;
left:5.66px;
position:absolute;
box-shadow:0px 1.6190476417541504px 0px rgba(191, 255, 102, 1);
}
.rectanglecopy3
{
border-radius:1.6190476417541504px;
width:5.6666669845581055px;
height:3.5416667461395264px;
background-color:#999898;
border:0px solid #969696;
top:9.2px;
left:0px;
position:absolute;
box-shadow:0px -1.6190476417541504px 0px rgba(191, 255, 102, 1);
}
.rectangle1
{
border-radius:10px;
width:283px;
height:805px;
border:1.5px solid #dddddd;
top:22px;
left:22px;
position:absolute;
box-shadow:0px 0px 3px rgba(139, 139, 139, 0.1899999976158142);
}
.rectangle22
{
border-radius:10px;
width:338px;
height:692px;
border:1.5px solid #f1f1f1;
top:132px;
left:935px;
position:absolute;
box-shadow:1px 4px 5px rgba(0, 0, 0, 0.10000000149011612);
}
.rectangle13
{
border-radius:15px;
width:283px;
height:46px;
border:1px solid #a6a6a6;
top:22px;
left:990px;
position:absolute;
}
.unsplash:fhnnjk1yj7y
{
border-radius:10px;
width:128px;
height:103px;
background-color:#a87474;
left:958px;
top:188px;
position:absolute;
}
.unsplash:rh8o0fhfpfw
{
border-radius:10px;
width:128px;
height:103px;
background-color:#a87474;
left:958px;
top:316px;
position:absolute;
}
.unsplash:fwvmhua_wby
{
border-radius:10px;
width:128px;
height:103px;
background-color:#a87474;
left:958px;
top:633px;
position:absolute;
}
.unsplash:oalh2mojuuk
{
border-radius:10px;
width:128px;
height:103px;
background-color:#a87474;
left:958px;
top:444px;
position:absolute;
}
.unsplash:26mjgncm0wc
{
border-radius:10px 10px 0px 0px;
width:128px;
height:61px;
background-color:#a87474;
left:958px;
top:761px;
position:absolute;
}
.group2
{
width:54px;
height:54px;
left:335px;
top:28px;
position:absolute;
}
.unsplash:3jmfencl24m
{
width:54px;
height:54px;
left:335px;
top:28px;
width:54px;
height:54px;
position:absolute;
}
.group29
{
width:175px;
height:241px;
top:221px;
left:335px;
position:absolute;
}
.rectangle6
{
border-radius:20px;
width:175px;
height:241px;
border:1px solid #f1f1f1;
top:221px;
left:335px;
position:absolute;
box-shadow:2px 1px 4px rgba(0, 0, 0, 0.27000001072883606);
}
.unsplash:io0zlybu31s
{
border-radius:20px 20px 0px 0px;
width:175px;
height:143px;
background-color:#a87474;
left:335px;
top:221px;
position:absolute;
}
.unsplash:v2aknjmbp_k
{
width:21px;
height:21px;
left:346px;
top:431px;
position:absolute;
}
.vector
{
width:11.465180397033691px;
height:10px;
left:487px;
top:436px;
position:absolute;
}
.principleofui/uxdesign-beginer
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:346px;
top:386px;
width:121px;
height:34px;
position:absolute;
line-height:auto;
color:#505050;
}
.group3
{
width:49px;
height:7px;
top:370px;
left:346px;
position:absolute;
}
.students
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:355px;
top:370px;
width:40px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group5
{
width:7px;
height:5.25px;
left:346px;
top:371px;
position:absolute;
}
.vector2
{
width:4.375px;
height:5.25px;
left:348.62px;
top:371px;
width:4.375px;
height:5.25px;
position:absolute;
}
.vector3
{
width:3.0344998836517334px;
height:2.1876871585845947px;
left:346px;
top:374.06px;
width:3.0344998836517334px;
height:2.1876871585845947px;
position:absolute;
}
.vector4
{
width:2.1875px;
height:2.1875px;
left:346.87px;
top:371.43px;
width:2.1875px;
height:2.1875px;
position:absolute;
}
.group52
{
width:30px;
height:7px;
top:370px;
left:469px;
position:absolute;
}
.group4
{
width:23px;
height:7px;
top:370px;
left:476px;
position:absolute;
}
.h20m
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:476px;
top:370px;
width:23px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group8
{
width:5px;
height:5px;
left:469px;
top:371px;
position:absolute;
}
.vector5
{
width:5px;
height:5px;
left:469px;
top:371px;
width:5px;
height:5px;
position:absolute;
}
.vector6
{
width:0.75px;
height:2.5px;
left:471.5px;
top:371.99px;
width:0.75px;
height:2.5px;
position:absolute;
}
.johndoe
{
text-align:left;
vertical-align:text-top;
font-size:8px;
font-family:Inter;
left:372px;
top:437px;
width:37px;
height:10px;
position:absolute;
line-height:auto;
color:#8e8c8c;
}
.group28
{
width:175px;
height:241px;
top:221px;
left:530px;
position:absolute;
}
.rectangle7
{
border-radius:20px;
width:175px;
height:241px;
border:1px solid #f1f1f1;
top:221px;
left:530px;
position:absolute;
box-shadow:2px 1px 4px rgba(0, 0, 0, 0.27000001072883606);
}
.unsplash:wubnvdtsoic
{
border-radius:20px 20px 0px 0px;
width:175px;
height:143px;
background-color:#a87474;
left:530px;
top:221px;
position:absolute;
}
.unsplash:wnolnjo7ts8
{
width:21px;
height:21px;
left:541px;
top:431px;
position:absolute;
}
.vector7
{
width:11.465180397033691px;
height:10px;
left:682px;
top:436px;
position:absolute;
}
.masteringhtml/csswithbootstrap
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:541px;
top:386px;
width:147px;
height:34px;
position:absolute;
line-height:auto;
color:#505050;
}
.group62
{
width:49px;
height:7px;
top:370px;
left:541px;
position:absolute;
}
.students2
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:550px;
top:370px;
width:40px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group11
{
width:7px;
height:5.25px;
left:541px;
top:371px;
position:absolute;
}
.vector8
{
width:4.375px;
height:5.25px;
left:543.62px;
top:371px;
width:4.375px;
height:5.25px;
position:absolute;
}
.vector9
{
width:3.0344998836517334px;
height:2.1876871585845947px;
left:541px;
top:374.06px;
width:3.0344998836517334px;
height:2.1876871585845947px;
position:absolute;
}
.vector10
{
width:2.1875px;
height:2.1875px;
left:541.87px;
top:371.43px;
width:2.1875px;
height:2.1875px;
position:absolute;
}
.group7
{
width:30px;
height:7px;
top:370px;
left:664px;
position:absolute;
}
.group42
{
width:23px;
height:7px;
top:370px;
left:671px;
position:absolute;
}
.h20m2
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:671px;
top:370px;
width:23px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group14
{
width:5px;
height:5px;
left:664px;
top:371px;
position:absolute;
}
.vector11
{
width:5px;
height:5px;
left:664px;
top:371px;
width:5px;
height:5px;
position:absolute;
}
.vector12
{
width:0.75px;
height:2.5px;
left:666.5px;
top:371.99px;
width:0.75px;
height:2.5px;
position:absolute;
}
.alexander
{
text-align:left;
vertical-align:text-top;
font-size:8px;
font-family:Inter;
left:567px;
top:437px;
width:39px;
height:10px;
position:absolute;
line-height:auto;
color:#8e8c8c;
}
.group27
{
width:5px;
height:5px;
left:469px;
top:639px;
position:absolute;
}
.vector23
{
width:5px;
height:5px;
left:469px;
top:639px;
width:5px;
height:5px;
position:absolute;
}
.vector24
{
width:0.75px;
height:2.5px;
left:471.5px;
top:639.99px;
width:0.75px;
height:2.5px;
position:absolute;
}
.group41
{
width:565px;
height:241px;
top:489px;
left:335px;
position:absolute;
}
.group24
{
width:7px;
height:5.25px;
left:346px;
top:639px;
position:absolute;
}
.vector20
{
width:4.375px;
height:5.25px;
left:348.62px;
top:639px;
width:4.375px;
height:5.25px;
position:absolute;
}
.vector21
{
width:3.0344998836517334px;
height:2.1876871585845947px;
left:346px;
top:642.06px;
width:3.0344998836517334px;
height:2.1876871585845947px;
position:absolute;
}
.vector22
{
width:2.1875px;
height:2.1875px;
left:346.87px;
top:639.43px;
width:2.1875px;
height:2.1875px;
position:absolute;
}
.group25
{
width:175px;
height:241px;
top:489px;
left:530px;
position:absolute;
}
.rectangle4
{
border-radius:20px;
width:175px;
height:241px;
border:1px solid #f1f1f1;
top:489px;
left:530px;
position:absolute;
box-shadow:2px 1px 4px rgba(0, 0, 0, 0.27000001072883606);
}
.unsplash:xkbaqlcqeb4
{
border-radius:20px 20px 0px 0px;
width:175px;
height:143px;
background-color:#a87474;
left:530px;
top:489px;
position:absolute;
}
.unsplash:zz5lqe-vsmy
{
width:21px;
height:21px;
left:541px;
top:699px;
position:absolute;
}
.vector25
{
width:11.465180397033691px;
height:10px;
left:682px;
top:705px;
position:absolute;
}
.reactjsbasictoadvance
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:541px;
top:654px;
width:117px;
height:34px;
position:absolute;
line-height:auto;
color:#505050;
}
.group112
{
width:49px;
height:7px;
top:638px;
left:541px;
position:absolute;
}
.students5
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:550px;
top:638px;
width:40px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group30
{
width:7px;
height:5.25px;
left:541px;
top:639px;
position:absolute;
}
.vector26
{
width:4.375px;
height:5.25px;
left:543.62px;
top:639px;
width:4.375px;
height:5.25px;
position:absolute;
}
.vector27
{
width:3.0344998836517334px;
height:2.1876871585845947px;
left:541px;
top:642.06px;
width:3.0344998836517334px;
height:2.1876871585845947px;
position:absolute;
}
.vector28
{
width:2.1875px;
height:2.1875px;
left:541.87px;
top:639.43px;
width:2.1875px;
height:2.1875px;
position:absolute;
}
.group142
{
width:30px;
height:7px;
top:638px;
left:664px;
position:absolute;
}
.group46
{
width:23px;
height:7px;
top:638px;
left:671px;
position:absolute;
}
.h20m5
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:671px;
top:638px;
width:23px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group33
{
width:5px;
height:5px;
left:664px;
top:639px;
position:absolute;
}
.vector29
{
width:5px;
height:5px;
left:664px;
top:639px;
width:5px;
height:5px;
position:absolute;
}
.vector30
{
width:0.75px;
height:2.5px;
left:666.5px;
top:639.99px;
width:0.75px;
height:2.5px;
position:absolute;
}
.sonya
{
text-align:left;
vertical-align:text-top;
font-size:8px;
font-family:Inter;
left:567px;
top:704px;
width:24px;
height:10px;
position:absolute;
line-height:auto;
color:#8e8c8c;
}
.group26
{
width:175px;
height:241px;
top:489px;
left:725px;
position:absolute;
}
.rectangle5
{
border-radius:20px;
width:175px;
height:241px;
border:1px solid #f1f1f1;
top:489px;
left:725px;
position:absolute;
box-shadow:2px 1px 4px rgba(0, 0, 0, 0.27000001072883606);
}
.unsplash:6jvlsdgmace
{
border-radius:20px 20px 0px 0px;
width:175px;
height:143px;
background-color:#a87474;
left:725px;
top:489px;
position:absolute;
}
.unsplash:kipqvvtoc1s
{
width:21px;
height:21px;
left:736px;
top:699px;
position:absolute;
}
.vector31
{
width:11.465180397033691px;
height:10px;
left:877px;
top:705px;
position:absolute;
}
.masteringjswithlaravel
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:736px;
top:654px;
width:122px;
height:34px;
position:absolute;
line-height:auto;
color:#505050;
}
.group12
{
width:49px;
height:7px;
top:638px;
left:736px;
position:absolute;
}
.students6
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:745px;
top:638px;
width:40px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group36
{
width:7px;
height:5.25px;
left:736px;
top:639px;
position:absolute;
}
.vector32
{
width:4.375px;
height:5.25px;
left:738.62px;
top:639px;
width:4.375px;
height:5.25px;
position:absolute;
}
.vector33
{
width:3.0344998836517334px;
height:2.1876871585845947px;
left:736px;
top:642.06px;
width:3.0344998836517334px;
height:2.1876871585845947px;
position:absolute;
}
.vector34
{
width:2.1875px;
height:2.1875px;
left:736.87px;
top:639.43px;
width:2.1875px;
height:2.1875px;
position:absolute;
}
.group15
{
width:30px;
height:7px;
top:638px;
left:859px;
position:absolute;
}
.group47
{
width:23px;
height:7px;
top:638px;
left:866px;
position:absolute;
}
.h20m6
{
text-align:left;
vertical-align:text-top;
font-size:6px;
font-family:Inter;
left:866px;
top:638px;
width:23px;
height:7px;
position:absolute;
line-height:auto;
color:#868686;
}
.group39
{
width:5px;
height:5px;
left:859px;
top:639px;
position:absolute;
}
.vector35
{
width:5px;
height:5px;
left:859px;
top:639px;
width:5px;
height:5px;
position:absolute;
}
.vector36
{
width:0.75px;
height:2.5px;
left:861.5px;
top:639.99px;
width:0.75px;
height:2.5px;
position:absolute;
}
.denys
{
text-align:left;
vertical-align:text-top;
font-size:8px;
font-family:Inter;
left:762px;
top:704px;
width:27px;
height:10px;
position:absolute;
line-height:auto;
color:#8e8c8c;
}
.group16
{
width:157px;
height:45px;
top:32px;
left:400px;
position:absolute;
}
.welcome,
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:400px;
top:32px;
width:66px;
height:17px;
position:absolute;
line-height:auto;
color:#909090;
}
.baguspangestu
{
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:400px;
top:53px;
width:157px;
height:24px;
position:absolute;
line-height:auto;
color:#494949;
}
.group302
{
width:97.63117980957031px;
height:40.48122024536133px;
top:152px;
left:336px;
position:absolute;
}
.rectangle9
{
border-radius:15.874988555908203px;
width:97.63117980957031px;
height:40.48122024536133px;
border:1.5874987840652466px solid #f6c648;
top:152px;
left:336px;
position:absolute;
}
.ellipse1
{
top:157.55px;
left:342.35px;
position:absolute;
}
.new
{
text-align:left;
vertical-align:text-top;
font-size:10.822904586791992px;
font-family:Inter;
left:377.27px;
top:164.7px;
width:24px;
height:13px;
position:absolute;
line-height:auto;
color:#000000;
}
.group172
{
width:11.112493515014648px;
height:12.699991226196289px;
left:351.08px;
top:166.28px;
position:absolute;
}
.vector37
{
width:11.112493515014648px;
height:12.699991226196289px;
left:351.08px;
top:166.28px;
width:11.112493515014648px;
height:12.699991226196289px;
position:absolute;
}
.vector38
{
width:7.936699867248535px;
height:0.7937494516372681px;
left:352.66px;
top:176.6px;
width:7.936699867248535px;
height:0.7937494516372681px;
position:absolute;
}
.group31
{
width:97.63117980957031px;
height:40.48122024536133px;
top:152px;
left:452.68px;
position:absolute;
}
.rectangle10
{
border-radius:15.874988555908203px;
width:97.63117980957031px;
height:40.48122024536133px;
border:1.5874987840652466px solid #14be4e;
top:152px;
left:452.68px;
position:absolute;
}
.ellipse2
{
top:157.55px;
left:459.03px;
position:absolute;
}
.free
{
text-align:left;
vertical-align:text-top;
font-size:10.822904586791992px;
font-family:Inter;
left:493.95px;
top:164.7px;
width:23px;
height:13px;
position:absolute;
line-height:auto;
color:#000000;
}
.group18
{
width:11.112493515014648px;
height:12.699991226196289px;
left:467.76px;
top:166.28px;
position:absolute;
}
.vector39
{
width:11.112493515014648px;
height:12.699991226196289px;
left:467.76px;
top:166.28px;
width:11.112493515014648px;
height:12.699991226196289px;
position:absolute;
}
.vector40
{
width:7.936699867248535px;
height:0.7937494516372681px;
left:469.34px;
top:176.6px;
width:7.936699867248535px;
height:0.7937494516372681px;
position:absolute;
}
.group32
{
width:97.63117980957031px;
height:40.48122024536133px;
top:152px;
left:569.36px;
position:absolute;
}
.rectangle11
{
border-radius:15.874988555908203px;
width:97.63117980957031px;
height:40.48122024536133px;
border:1.5874987840652466px solid #007dd7;
top:152px;
left:569.36px;
position:absolute;
}
.ellipse3
{
top:157.55px;
left:575.71px;
position:absolute;
}
.popular
{
text-align:left;
vertical-align:text-top;
font-size:10.822904586791992px;
font-family:Inter;
left:610.63px;
top:164.7px;
width:39px;
height:13px;
position:absolute;
line-height:auto;
color:#000000;
}
.group19
{
width:11.112493515014648px;
height:12.699991226196289px;
left:584.44px;
top:166.28px;
position:absolute;
}
.vector41
{
width:11.112493515014648px;
height:12.699991226196289px;
left:584.44px;
top:166.28px;
width:11.112493515014648px;
height:12.699991226196289px;
position:absolute;
}
.vector42
{
width:7.936699867248535px;
height:0.7937494516372681px;
left:586.03px;
top:176.6px;
width:7.936699867248535px;
height:0.7937494516372681px;
position:absolute;
}
.group332
{
width:97.63117980957031px;
height:40.48122024536133px;
top:152px;
left:686.04px;
position:absolute;
}
.rectangle12
{
border-radius:15.874988555908203px;
width:97.63117980957031px;
height:40.48122024536133px;
border:1.5874987840652466px solid #c565c7;
top:152px;
left:686.04px;
position:absolute;
}
.ellipse4
{
top:157.55px;
left:692.39px;
position:absolute;
}
.paid
{
text-align:left;
vertical-align:text-top;
font-size:10.822904586791992px;
font-family:Inter;
left:726.52px;
top:164.7px;
width:23px;
height:13px;
position:absolute;
line-height:auto;
color:#000000;
}
.group202
{
width:11.112493515014648px;
height:12.699991226196289px;
left:700.33px;
top:166.28px;
position:absolute;
}
.vector43
{
width:11.112493515014648px;
height:12.699991226196289px;
left:700.33px;
top:166.28px;
width:11.112493515014648px;
height:12.699991226196289px;
position:absolute;
}
.vector44
{
width:7.936699867248535px;
height:0.7937494516372681px;
left:701.91px;
top:176.6px;
width:7.936699867248535px;
height:0.7937494516372681px;
position:absolute;
}
.group37
{
width:97.63117980957031px;
height:40.48122024536133px;
top:152px;
left:802.36px;
position:absolute;
}
.rectangle122
{
border-radius:15.874988555908203px;
width:97.63117980957031px;
height:40.48122024536133px;
border:1.5874987840652466px solid #eb7d2d;
top:152px;
left:802.36px;
position:absolute;
}
.ellipse42
{
top:157.55px;
left:808.71px;
position:absolute;
}
.upcoming
{
text-align:left;
vertical-align:text-top;
font-size:10.822904586791992px;
font-family:Inter;
left:842.84px;
top:164.7px;
width:53px;
height:13px;
position:absolute;
line-height:auto;
color:#000000;
}
.group203
{
width:11.112493515014648px;
height:12.699991226196289px;
left:816.65px;
top:166.28px;
position:absolute;
}
.vector45
{
width:11.112493515014648px;
height:12.699991226196289px;
left:816.65px;
top:166.28px;
width:11.112493515014648px;
height:12.699991226196289px;
position:absolute;
}
.vector46
{
width:7.936699867248535px;
height:0.7937494516372681px;
left:818.24px;
top:176.6px;
width:7.936699867248535px;
height:0.7937494516372681px;
position:absolute;
}
.group21
{
width:16px;
height:16px;
left:1005px;
top:37px;
position:absolute;
}
.vector47
{
width:14.222203254699707px;
height:14.222203254699707px;
left:1005px;
top:37px;
width:14.222203254699707px;
height:14.222203254699707px;
position:absolute;
}
.vector48
{
width:3.866661548614502px;
height:3.866661548614502px;
left:1017.13px;
top:49.13px;
width:3.866661548614502px;
height:3.866661548614502px;
position:absolute;
}
.search
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1030px;
top:36px;
width:47px;
height:17px;
position:absolute;
line-height:auto;
color:#b5b5b5;
}
.group23
{
width:22px;
height:22px;
left:906px;
top:34px;
position:absolute;
}
.vector49
{
width:6px;
height:6px;
left:914px;
top:42px;
width:6px;
height:6px;
position:absolute;
}
.vector50
{
width:22px;
height:22px;
left:906px;
top:34px;
width:22px;
height:22px;
position:absolute;
}
.group48
{
width:22px;
height:25.996456146240234px;
top:29px;
left:948px;
position:absolute;
}
.group22
{
width:18px;
height:19.996456146240234px;
left:948px;
top:35px;
position:absolute;
}
.vector51
{
width:18px;
height:15px;
left:948px;
top:35px;
width:18px;
height:15px;
position:absolute;
}
.vector52
{
width:3.4599990844726562px;
height:0.9964561462402344px;
left:955.27px;
top:54px;
width:3.4599990844726562px;
height:0.9964561462402344px;
position:absolute;
}
.ellipse5
{
top:29px;
left:963px;
position:absolute;
}
.course
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84.03px;
top:180px;
width:49px;
height:17px;
position:absolute;
line-height:auto;
color:#777777;
}
.vector53
{
width:12.444443702697754px;
height:16px;
left:49.24px;
top:181px;
position:absolute;
}
.group59
{
width:80px;
height:19px;
top:122px;
left:339px;
position:absolute;
}
.vector54
{
width:9.333333015441895px;
height:12px;
left:339px;
top:125px;
position:absolute;
}
.courses
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:354px;
top:122px;
width:65px;
height:19px;
position:absolute;
line-height:auto;
color:#6a6868;
}
.group35
{
width:163px;
height:19px;
top:149px;
left:958px;
position:absolute;
}
.vector55
{
width:9px;
height:11.571429252624512px;
left:958px;
top:152px;
position:absolute;
}
.upcomingcourses
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:973px;
top:149px;
width:148px;
height:19px;
position:absolute;
line-height:auto;
color:#6a6868;
}
.group40
{
width:124px;
height:40px;
top:761px;
left:555px;
position:absolute;
}
.group38
{
width:124px;
height:40px;
top:761px;
left:555px;
position:absolute;
}
.rectangle112
{
border-radius:15.874988555908203px;
width:124px;
height:40px;
border:1.5874987840652466px solid #8d8d8d;
top:761px;
left:555px;
position:absolute;
}
.group392
{
width:78.52530670166016px;
height:14.04265022277832px;
top:774px;
left:578px;
position:absolute;
}
.loadmore
{
text-align:left;
vertical-align:text-top;
font-size:11.564523696899414px;
font-family:Inter;
left:597.52px;
top:774px;
width:59px;
height:14px;
position:absolute;
line-height:auto;
color:#8d8d8d;
}
.vector56
{
width:13.229389190673828px;
height:13.216612815856934px;
left:578px;
top:774.82px;
position:absolute;
}
.group422
{
width:134px;
height:52px;
top:188px;
left:1096px;
position:absolute;
}
.masteringfrontendhtml/css/js
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1096px;
top:188px;
width:134px;
height:34px;
position:absolute;
line-height:auto;
color:#565656;
}
.h15m
{
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:1096px;
top:228px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
color:#838080;
}
.group432
{
width:134px;
height:52px;
top:316px;
left:1096px;
position:absolute;
}
.masteringfrontendhtml/css/js2
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1096px;
top:316px;
width:134px;
height:34px;
position:absolute;
line-height:auto;
color:#565656;
}
.h15m2
{
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:1096px;
top:356px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
color:#838080;
}
.group44
{
width:134px;
height:52px;
top:444px;
left:1096px;
position:absolute;
}
.masteringfrontendhtml/css/js3
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1096px;
top:444px;
width:134px;
height:34px;
position:absolute;
line-height:auto;
color:#565656;
}
.h15m3
{
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:1096px;
top:484px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
color:#838080;
}
.group452
{
width:134px;
height:52px;
top:632px;
left:1096px;
position:absolute;
}
.masteringfrontendhtml/css/js4
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1096px;
top:632px;
width:134px;
height:34px;
position:absolute;
line-height:auto;
color:#565656;
}
.h15m4
{
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:1096px;
top:672px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
color:#838080;
}
.group462
{
width:134px;
height:52px;
top:761px;
left:1096px;
position:absolute;
}
.masteringfrontendhtml/css/js5
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:1096px;
top:761px;
width:134px;
height:34px;
position:absolute;
line-height:auto;
color:#565656;
}
.h15m5
{
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:1096px;
top:801px;
width:35px;
height:12px;
position:absolute;
line-height:auto;
color:#838080;
}
.group472
{
width:160px;
height:19px;
top:594px;
left:958px;
position:absolute;
}
.group362
{
width:142px;
height:19px;
top:594px;
left:976px;
position:absolute;
}
.favouritecourses
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:976px;
top:594px;
width:142px;
height:19px;
position:absolute;
line-height:auto;
color:#6a6868;
}
.vector57
{
width:12px;
height:11.41200065612793px;
left:958px;
top:597.58px;
position:absolute;
}
.rectangle25
{
border-radius:10px;
width:262px;
height:56px;
background-color:#407dd8;
top:32px;
left:32px;
position:absolute;
}
.rectangle26
{
border-radius:10px;
width:262px;
height:37px;
background-color:#407dd8;
top:126px;
left:32px;
position:absolute;
}
.group51
{
width:175.20001220703125px;
height:41px;
top:39px;
left:41px;
position:absolute;
}
.group49
{
width:41px;
height:41px;
left:41px;
top:39px;
position:absolute;
}
.unsplash:3jmfencl24m2
{
width:41px;
height:41px;
left:41px;
top:39px;
width:41px;
height:41px;
position:absolute;
}
.group50
{
width:126px;
height:32px;
top:43px;
left:90.2px;
position:absolute;
}
.baguspangestu@live.com
{
text-align:left;
vertical-align:text-top;
font-size:9px;
font-family:Inter;
left:91px;
top:64px;
width:100px;
height:11px;
position:absolute;
letter-spacing:-5%;
line-height:auto;
color:#c9c9c9;
}
.baguspangestu3
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:90.2px;
top:43px;
width:126px;
height:19px;
position:absolute;
line-height:auto;
color:#e6e6e6;
}
.vector58
{
width:4.5px;
height:9px;
left:275px;
top:57px;
position:absolute;
}
.group56
{
width:77.03333282470703px;
height:17px;
top:136px;
left:47px;
position:absolute;
}
.home
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84.03px;
top:136px;
width:40px;
height:17px;
position:absolute;
line-height:auto;
color:#f0f0f0;
}
.vector59
{
width:16.945606231689453px;
height:16px;
left:47px;
top:136px;
position:absolute;
}
.group54
{
width:71.91114044189453px;
height:17px;
top:224px;
left:48.12px;
position:absolute;
}
.profil
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84.03px;
top:224px;
width:36px;
height:17px;
position:absolute;
line-height:auto;
color:#777777;
}
.vector60
{
width:15.1578950881958px;
height:16px;
left:48.12px;
top:224px;
position:absolute;
}
.group53
{
width:92.91114044189453px;
height:17px;
top:268px;
left:48.12px;
position:absolute;
}
.settings2
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84.03px;
top:268px;
width:57px;
height:17px;
position:absolute;
line-height:auto;
color:#777777;
}
.vector61
{
width:15.154505729675293px;
height:16px;
left:48.12px;
top:268.99px;
position:absolute;
}
.group522
{
width:72.03333282470703px;
height:17px;
top:312px;
left:47px;
position:absolute;
}
.more2
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84.03px;
top:312px;
width:35px;
height:17px;
position:absolute;
line-height:auto;
color:#777777;
}
.vector62
{
width:16px;
height:16px;
left:47px;
top:312.99px;
position:absolute;
}
.group58
{
width:84px;
height:17px;
top:356px;
left:48px;
position:absolute;
}
.group57
{
width:48px;
height:17px;
top:356px;
left:84px;
position:absolute;
}
.logout
{
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Inter;
left:84px;
top:356px;
width:48px;
height:17px;
position:absolute;
line-height:auto;
color:#777777;
}
.vector63
{
width:16.003555297851562px;
height:16px;
left:48px;
top:357px;
position:absolute;
}
